<div>
    <h1><%= title %></h1>

    <h1>this is a signin page</h1>
    
    <form action="/user/create-session" method="post">
        <input type="email" name="email" placeholder="Emter Email" required>
        <input type="password" name="password" placeholder="Enter PAssword" required>
        <input type="submit" name="SignIn">

    </form>
    
</div>