
<div>
    <h1><%= title %></h1>

    <h1>this is a signup page</h1>
    
    <form action="/user/create" method="post">
        <input type="text" name="name" placeholder="Enter Your Full Name" required>
        <input type="email" name="email" placeholder="Enter Your Email Address" required>
        <input type="email" name="confirm_email" placeholder="Enter Your Email Again" required>
        <input type="password" name="password" placeholder="Enter Password (Mininum 8)" required>
        <input type="password" name="confirm_password" placeholder="Enter Your Password Again" required>
        <input type="submit" name="Sign Up">


    </form>
    <p>
        <a href="/user/auth/google"> google signin/signup</a>
    </p>
    
</div>